{% extends 'layout.twig' %}

{% block body %}
<form class="" action="/suscribe" method="post">
  <input type="text" name="name" value=""></input>
  <input type="text" name="username" value=""></input>
  <input type="password" name="password" value=""></input>
  <input type="submit" name="" value="">
</form>

{% if data %}
  {{ dump(data) }}
{% endif %}
{% endblock %}
