.Input {
  width: 300px;
  display: block;
  line-height: 2.1;
  outline: none;
  margin-bottom: 20px;
  vertical-align: middle;
  border: none;
  background-color: rgba(255,255,255,0.01);
  border-bottom: 1px solid rgba(255,255,255,0.7);
  font-size: 1.3rem;
  padding: 0 20px;
  color: $c-white;
}
