<div class="Sidebar">
  <a class="Sidebar-item" href="/">
    <i class="Sidebar-item-icon fas fa-home"></i>
  </a>
  <a class="Sidebar-item" href="/settings">
    <i class="Sidebar-item-icon fas fa-ellipsis-h"></i>
  </a>
</div>
